#fd .sns a{ color:white}

#hd{ border-bottom: 1px solid #be5bd0;
    position: fixed; z-index: 1000;left:0; right:0; top:0;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(229, 155, 213) 100%); font-family: 'Do Hyeon';  padding: 10px;
}
#hd h1{ margin-bottom: 0;}
#hd h1 img{ width: 150px;}
#gnb a{color: #92198e;}

#allMenu span{
    display: block; width:30px; height:2px; background:#222; margin: 10px 0;
}

#gnb{ margin-bottom: 0;}
#gnb li{ margin: 0 15px;}


#main > section{ min-height:100vh; padding: 80px 0;}
#a{background: bisque;}
#main > section h2:after{/* */
    content: ""; display: block; height: 3px; background:#222; width: 20px; margin: 15px auto; transition: 0.5s;}
#main > section h2:after{ width: 50px;}
#about {
    background-color: white;

}
